@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Nunito';
}

h1, h2, h3, .bold {
  font-family: 'Montserrat';
}

.specialBtn {
  background: white;
  box-shadow: 0px 14px 55px rgba(96, 165, 255, 0.35);
  transition-duration: 200ms;
}

.specialBtn:hover {
  opacity: 0.8;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
